{% extends 'base.html.twig' %}

{% block page_heading %}
    <div class="row justify-content-center" >
        <div class="col-11">
            <h2 class="sub-header text-center brand-txt">
                {% block heading %}
                    {{ event.name }}
                {% endblock %}
            </h2>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% if event %}
        <div class="row justify-content-center">
            <div class="col-11">
                {%  if event.picture %}
                    <img class="img-fluid event-img mr-3 my-2" src="{{ asset( 'images/pictures/' ~ event.picture) }}" alt="{{ event.name }}" align="left">
                {% else %}
                    <img class="img-fluid event-img mr-3 my-2"  src="{{ asset("images/rolendar-1.jpg") }}" alt="{{ event.name }}" align="left">
                {% endif %}

                {% if event.status == constant('STATUS_CANCELLED', event) %}
                    <h4 class="p-2">
                        <span class="badge badge-danger">Отменено!</span>
                    </h4>
                {% endif %}

                <h4 class="text-muted pl-1">
                    {{ event.startDate | date("d/m/Y") }}
                    {% if event.startDate != event.endDate %}
                         - {{ event.endDate | date("d/m/Y") }}
                    {% endif %}
                </h4>
                <h4 class="text-muted pl-1">
                    {% if event.location %}
                        {{ event.location }},
                    {% endif %}
                    {% if event.region %}
                        {{ event.region.name }}
                    {% endif %}
                </h4>

                {% if event.type %}
                    <p class="pl-1"> <strong> Формат:</strong> {{ event.type.name}} </p>
                {% endif %}

                {% if event.subgenre.genre %}
                    <p class="pl-1"> <strong> Жанр:</strong> {{ event.subgenre.genre.name }} </p>
                {% endif %}

                {% if event.subgenre %}
                    <p class="pl-1"> <strong> Поджанр: </strong>{{ event.subgenre }}</p>
                {% endif %}

                {% if event.organizers %}
                    <p class="pl-1"> <strong> Организаторы:</strong> {{ event.organizers | link |raw }} </p>
                {% endif %}

                {% if event.settlement %}
                    <p class="pl-1"> <strong> Тип поселения:</strong> {{ event.settlement.name }} </p>
                {% endif %}

                {% if not event.weapons is empty  %}
                    <p class="pl-1"> <strong> Материал оружия: </strong>
                        {{ event.weapons | join(', ') }}
                    </p>
                {% endif %}

                {% if (event.priceMin or event.priceMax) %}
                    <p class="p-1">
                        <strong>Взнос: </strong>
                        {% if event.priceMin %}
                            {{ event.priceMin }}
                            {% if event.priceMax and event.priceMax != event.priceMin %}
                                - {{ event.priceMax }}
                            {% endif %}
                        {% else %}
                            {{ event.priceMax }}
                        {% endif %}
                         грн.
                    </p>
                {% endif %}

                {% if (event.contactSite or event.contactFB or event.contactVK or event.contactTelegram or event.contactOther) %}
                    <p class="p-1"> <strong> Ссылки: </strong>
                        {% if event.contactSite %}
                            <a href="{{ event.contactSite }}" class="text-dark mx-3"> сайт </a>
                        {% endif %}
                        {% if event.contactFB %}
                            <a href="{{ event.contactFB }}" class="text-dark"> <span class="fa fa-facebook-square mx-3" ></span></a>
                        {% endif %}
                        {% if event.contactVK %}
                            <a href="{{ event.contactVK }}" class="text-dark"> <span class="fa fa-vk mx-3" ></span></a>
                        {% endif %}
                        {% if event.contactTelegram %}
                            <a href="{{ event.contactTelegram }}" class="text-dark"> <span class="fa fa-telegram mx-3" ></span></a>
                        {% endif %}
                        {% if event.contactOther %}
                            <p>{{ event.contactOther | link |raw}}</p>
                        {% endif %}
                {% endif %}

                {% if event.description %}
                    <p class="p-1">{{event.description}}</p>
                {% endif %}
                {% if event.isMixDesk() %}
                    <p class="p-1"> <strong> Эквалайзер: </strong>
                    <div id="wrapper-top-axis">
                    </div>
                    <div id="wrapper-main">
                    </div>
                    <div id="wrapper-bottom-axis">
                    </div>
                {% endif %}

            </div>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        var RuntimeGM = {{event.mixDeskRuntimeGM}}
        var Openness = {{event.mixDeskOpenness}}
        var PlayerPressure = {{event.mixDeskPlayerPressure}}
        var CharCreation = {{event.mixDeskCharCreation}}
        var Metatechniques = {{event.mixDeskMetatechniques}}
        var StoryEngine = {{event.mixDeskStoryEngine}}
        var CommunicationStyle = {{event.mixDeskCommunicationStyle}}
        var BleedIn = {{event.mixDeskBleedIn}}
        var LoyaltyToSetting = {{event.mixDeskLoyaltyToSetting}}
        var RepresentaionOfTheme = {{event.mixDeskRepresentaionOfTheme}}
        var Scenography = {{event.mixDeskScenography}}

        var tickHeight = 0.2
        var barTickOffset = tickHeight/2

        var x_top_axis_list = ['Активное', 'Доступность', 'Хардкор', 'Игрок', 'Пожизненные', 'Командная игра', 'Физическое', 'Дистанцированное', 'Повторение', 'Симуляция', '360 градусов']
        var x_bottom_axis_list = ['Вмешательство мастера во время игры', 'Открытость внутриигровой информации',
            'Физиологическо- психологическое давление на игрока', 'Создание персонажа',
            'Способы ввода информации (метатехники)', 'Командность игры', 'Взаимодействие между игроками',
            'Отношение игрока к персонажу', 'Реконструкция поведения персонажей', 'Реконструкция окружения', 'Сценография']

        var data = [
            { cat: "Пассивное", score: RuntimeGM-barTickOffset, tick: tickHeight, tooltip: '{{ event.getMixDeskDescription()[0] }}'},
            { cat: "Секретность", score: Openness-barTickOffset, tick: tickHeight, tooltip: '{{ event.getMixDeskDescription()[1] }}' },
            { cat: "Условность", score: PlayerPressure-barTickOffset, tick: tickHeight, tooltip: '{{ event.getMixDeskDescription()[2] }}'},
            { cat: "Мастер", score: CharCreation-barTickOffset, tick: tickHeight, tooltip: '{{ event.getMixDeskDescription()[3] }}' },
            { cat: "Игровые", score: Metatechniques-barTickOffset, tick: tickHeight, tooltip: '{{ event.getMixDeskDescription()[4] }}' },
            { cat: "Соперничество", score: StoryEngine-barTickOffset, tick: tickHeight, tooltip: '{{ event.getMixDeskDescription()[5] }}' },
            { cat: "Вербальное", score: CommunicationStyle-barTickOffset, tick: tickHeight, tooltip: '{{ event.getMixDeskDescription()[6] }}' },
            { cat: "Личное", score: BleedIn-barTickOffset, tick: tickHeight, tooltip: '{{ event.getMixDeskDescription()[7] }}' },
            { cat: "Отыгрыш", score: LoyaltyToSetting-barTickOffset, tick: tickHeight, tooltip: '{{ event.getMixDeskDescription()[8] }}' },
            { cat: "Условность ", score: RepresentaionOfTheme-barTickOffset, tick: tickHeight, tooltip: '{{ event.getMixDeskDescription()[9] }}' },
            { cat: "Минимализм", score: Scenography-barTickOffset, tick: tickHeight, tooltip: '{{ event.getMixDeskDescription()[10] }}' },
        ];
    </script>

    <script src="/js/show_event_mixDesk_main_script.js"></script>
    <script src="/js/show_event_mixDesk_top-axis_script.js"></script>
    <script src="/js/show_event_mixDesk_bottom-axis__script.js"></script>
{% endblock %}


