<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <meta charset="UTF-8">
            <title>{% block title %} Ролендарь {% endblock %}</title>
            <link rel="icon" href="/images/favicon-rolendar.png" type="image/x-icon" sizes="16x16">

            {% block stylesheets %}
                {#bootstrap#}
                {#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">#}
                <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
                {#Font Awesome#}
                <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
                {#custom css#}
                <link rel="stylesheet" href="/css/style.css">
            {% endblock %}
        {% endblock %}
    </head>

    <body>
        {% block body %}
            <div class="container-fluid">
                {% block navbar %}
                    <nav class="navbar navbar-light bg-white fixed-top">
                        <em class=" h1 header ml-3 pb-1 brand-txt">
                            Ролендарь
                            <span class="h4 "> календарь украинских ролевых событий </span>
                        </em>
                        <ul class="navbar nav navbar-light justify-content-end" >
                            <li class="nav-item active">
                                <a class="nav-link text-dark" href="{{ path('home') }}">Новости</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Игры</a>
                                <div class="dropdown-menu ">
                                    <a class="dropdown-item " href="{{ path('list_events') }}">Список</a>
                                    <a class="dropdown-item " href="{{ path('calendar') }}">Календарь</a>
                                    <a class="dropdown-item" href="{{ path('search_events') }}">Выбрать игру</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="{{ path('new_event') }}">Добавить игру</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Статьи и обзоры</a>
                                <div class="dropdown-menu ">
                                    <a class="dropdown-item " href="{{ path('list_articles') }}">Статьи</a>
                                    <a class="dropdown-item " href="{{ path('list_overviews') }}">Обзоры</a>
                                    <a class="dropdown-item" href="{{ path('mixDesk_guide') }}">Об эквалайзере</a>
                                    <a class="dropdown-item" href="{{ path('genres_guide') }}">О классификации игр</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Полезные ссылки</a>
                                <div class="dropdown-menu ">
                                    <a class="dropdown-item" href="https://docs.google.com/spreadsheets/d/13Od15EjnajMxsgw2WxvENrCsenBr-qDAJaPmlCCKmAc/pubhtml?wmode=transparent">Каптерка</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="{{ path('contacts') }}">О проекте и контакты</a>
                            </li>
                        </ul>
                    </nav>
                    <hr/>
                {% endblock %}

                {% block flashes %}
                    {% for message in app.flashes('danger') %}
                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            {{ message | raw}}
                        </div>
                    {% endfor %}
                    {% for message in app.flashes('notice') %}
                        <div class="alert alert-warning alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            {{ message | raw}}
                        </div>
                    {% endfor %}
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            {{ message | raw}}
                        </div>
                    {% endfor %}
                {% endblock %}

                {% block page_heading %}
                    <div class="row " >
                        <h2 class="sub-header text-center brand-txt">{% block heading %}{% endblock %}</h2>
                    </div>
                {% endblock %}

                {% block content %}
                {% endblock %}

                {% block footer %}
                    <footer class="page-footer fixed-bottom font-small bg-white brand-txt">
                        <div class="footer-copyright text-center pb-3">
                            <hr/>
                            Ролендарь в соцсетях:
                            <a href="https://www.facebook.com/rolendar/"> <span class="fa fa-facebook-square brand-txt mx-2" ></span>  </a>
                            <a href="https://vk.com/rolendar"> <span class="fa fa-vk brand-txt mx-2" ></span>  </a>
                            <a href="https://t.me/rolendar"> <span class="fa fa-telegram brand-txt mx-2" ></span>  </a>

                        </div>
                    </footer>
                {% endblock %}

                {% block javascripts %}
                    {#external libraries#}
                    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
                    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
                {% endblock %}
            </div>
        {% endblock %}
    </body>
</html>
