<div class="col-sm-12 col-lg-6">
	<div class="card my-2">
		<h4 class="card-header text-left bg-white brand-txt">{{post.name}}
			<span class="badge badge-light badge-pill float-right brand-txt badge-news-type">
				{% if constant('NEWS_TYPE', post) == 'event' %}
					анонс
				{% else %}
					{{  post.category }}
				{% endif %}
			</span>
		</h4>
		<div class="row">
			<div class="col">
				<div class="row card-body px-2">
					<div class="col-sm-12 col-md-6 col-lg-4">
						{%  if post.picture %}
							<img class="img-fluid event-img" src="{{ asset( 'images/pictures/' ~ post.picture) }}" alt="{{ post.name }}">
						{% else %}
							<img class="img-fluid event-img"  src="{{ asset('images/rolendar-1.jpg') }}" alt="{{ post.name }}">
						{% endif %}
					</div>
					<div class="col-sm-12 col-md-6 col-lg-8">
						<p class="card-text m-2">
							{% autoescape false %}
								{{ post.description | striptags('<br><p>') | cut }}
							{% endautoescape %}
						</p>
						{% if constant('NEWS_TYPE', post) == 'event' %}
							<a href="{{ path('show_event_by_slug', {'slug': post.slug}) }}" class="btn btn-primary brand-bg align-self-end float-right mb-3">Подробнее</a>
						{% else %}
							<a href="{{ path('show_article_by_slug', {'slug': post.slug}) }}" class="btn btn-primary brand-bg align-self-end float-right mb-3">Подробнее</a>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		<div class="card-footer text-muted bg-white">
			Опубликовано: {{ post.publishDate|date("d/m/Y") }}
		</div>
	</div>
</div>