{% extends 'base.html.twig' %}

{% block page_heading %}
    <div class="row justify-content-center" >
        <div class="col-11">
            <h2 class="sub-header text-center brand-txt">
                {% block heading %}
                    {{ article.name }}
                {% endblock %}
            </h2>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% if article %}
        <div class="row justify-content-center">
            <div class="col-11">
                {%  if article.picture %}
                    <img class="img-fluid event-img mr-3 my-2" src="{{ asset( 'images/pictures/' ~ post.picture) }}" alt="{{ article.name }}" align="left">
                {% else %}
                    <img class="img-fluid event-img mr-3 my-2"  src="{{ asset("images/rolendar-1.jpg") }}" alt="{{ article.name }}" align="left">
                {% endif %}
                <h5 class="text-muted p-2">
                    Автор: {{ article.author.name }}
                </h5>
                <h6 class="text-muted p-2">
                    Опубликовано: {{ article.publishDate|date("d/m/Y") }}
                </h6>
                <p class="p-2">{{article.description}}</p>
            </div>
        </div>
    {% endif %}
{% endblock %}
